[defaults]
inventory = ./inventories/development/hosts
roles_path = ./roles
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
result_format = yaml
gathering = smart
fact_caching = memory
# INJECT_FACTS_AS_VARS: default True is deprecated (removed in 2.24). We set it explicitly
# and silence deprecation until we migrate to ansible_facts['ansible_*'] (see Ansible 2.24 porting).
inject_facts_as_vars = True
deprecation_warnings = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

